In [2]:
#Importing Libraries
import glob
import errno
import matplotlib.pyplot as plt 
import seaborn as sns
import time
%matplotlib inline
from collections import defaultdict
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

In [7]:
#Defining path for files
files = glob.glob('/home/rohan/Documents/Homework/WSTA/wiki-pages-text/*.txt')
files = [file for file in files if file != '/home/rohan/Documents/Homework/WSTA/wiki-pages-text/to_test.txt']
    

#files = '/home/rohan/Documents/Homework/WSTA/wiki-pages-text/wiki-001.txt'

In [3]:
#Function to process 
def preprocess_text(lst):
    nopunc = [char for char in lst if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [4]:
d = {}
z = []
with open(files,encoding = 'utf-8') as f:
    for lines in f:
        z =lines.split(maxsplit=2)
        key = '_'.join(z[:2])
        d[key] = z[2]

In [12]:
df = pd.DataFrame(d.items(),columns=['key','value'])
df.head()

,key,value
0,1928_in_association_football_0,The following are the football -LRB- soccer -R...
1,1986_NBA_Finals_0,The 1986 NBA Finals was the championship round...
2,1986_NBA_Finals_1,It pitted the Eastern Conference champion Bost...
3,1986_NBA_Finals_2,The Celtics defeated the Rockets four games to...
4,1986_NBA_Finals_3,The championship would be the Celtics ' last u...

In [13]:
df['length'] = df['value'].apply(len)
df.head()

,key,value,length
0,1928_in_association_football_0,The following are the football -LRB- soccer -R...,97
1,1986_NBA_Finals_0,The 1986 NBA Finals was the championship round...,78
2,1986_NBA_Finals_1,It pitted the Eastern Conference champion Bost...,234
3,1986_NBA_Finals_2,The Celtics defeated the Rockets four games to...,88
4,1986_NBA_Finals_3,The championship would be the Celtics ' last u...,73

In [14]:
df['value'].head().apply(preprocess_text)
df.head()

,key,value,length
0,1928_in_association_football_0,The following are the football -LRB- soccer -R...,97
1,1986_NBA_Finals_0,The 1986 NBA Finals was the championship round...,78
2,1986_NBA_Finals_1,It pitted the Eastern Conference champion Bost...,234
3,1986_NBA_Finals_2,The Celtics defeated the Rockets four games to...,88
4,1986_NBA_Finals_3,The championship would be the Celtics ' last u...,73

In [9]:
bow_transformer = CountVectorizer(analyzer= preprocess_text).fit(df['value'])
value_bow = bow_transformer.transform(df['value'])
print('Shape of Sparse Matrix: ', value_bow.shape)
print('Amount of Non-Zero occurences: ', value_bow.nnz)

Shape of Sparse Matrix:  (170548, 89547)
Amount of Non-Zero occurences:  1857949

In [10]:
sparsity = (100.0 * value_bow.nnz / (value_bow.shape[0] * value_bow.shape[1]))
print('sparsity: {}'.format(round(sparsity)))

sparsity: 0

In [11]:
tfidf_transformer = TfidfTransformer().fit(value_bow)
value_tfidf = tfidf_transformer.transform(value_bow)
print(value_tfidf)

  (0, 88671)	0.22142461048780204
  (0, 88557)	0.36052651828095955
  (0, 86120)	0.42069647571930074
  (0, 83750)	0.41952621857982186
  (0, 70341)	0.21506438997001473
  (0, 70319)	0.30864122923160964
  (0, 69131)	0.2880677411550254
  (0, 46467)	0.1864851216260573
  (0, 34366)	0.18645140088465176
  (0, 3641)	0.4170947728506585
  (1, 82508)	0.14010818988861912
  (1, 82009)	0.26297942771743077
  (1, 64325)	0.23166859192096537
  (1, 40612)	0.613183397307344
  (1, 24410)	0.35029424952848875
  (1, 8596)	0.39827878444758663
  (1, 3969)	0.3149785812924177
  (1, 3962)	0.3178108595387673
  (2, 85494)	0.08609599559334333
  (2, 81229)	0.2165300802731281
  (2, 81216)	0.19085832351526744
  (2, 78856)	0.23480208545783074
  (2, 64321)	0.26867568028956534
  (2, 58752)	0.15191266842403672
  (2, 47984)	0.4049263467223838
  :	:
  (170544, 7971)	0.08590889125948678
  (170544, 7524)	0.7242743151410501
  (170544, 7001)	0.08539076149934254
  (170544, 6343)	0.2440398231352341
  (170544, 5520)	0.07909617600762374
  (170544, 4330)	0.1564730374945357
  (170544, 3394)	0.14253465526971815
  (170544, 670)	0.14915087939704105
  (170545, 88671)	0.23409797185311557
  (170545, 53706)	0.5091669115966981
  (170545, 31177)	0.4029483822605676
  (170545, 23383)	0.31010995496255966
  (170545, 22810)	0.4721870512493583
  (170545, 3582)	0.4521625829372491
  (170546, 82085)	0.39353102058691175
  (170546, 70341)	0.21547951133828147
  (170546, 65231)	0.2701836261837469
  (170546, 48676)	0.5212200867641069
  (170546, 26970)	0.29866751964150495
  (170546, 24405)	0.325197961509301
  (170546, 12166)	0.3244518044956296
  (170546, 3798)	0.39218282780608016
  (170547, 62721)	0.5161300747146456
  (170547, 8437)	0.6061362773856903
  (170547, 7744)	0.6051516828135504